<div class="everyone">
  <% @sections.each do |section| %>
      <div class="section_box">
        <p><%= section.name %></p>
           <ul>
            <% section.users.each do |user| %>
             <li><%= user.name %></li>
          <% end %>
         </ul>
      </div>
  <% end %>
</div>