<p>This is index page that shows all users each section.</p>

<% @sections.each do |section| %>
  <p><%= section.name %></p>
  <ul>
    <% section.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
  <hr>
<% end %>
