// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #00aac3;
  &:hover {
    opacity: 0.5;
  }
}
p {
  margin: 0;
  padding: 0;
}
h1 {
}
h2 {
}
h3 {
  font-size: 16px;
  font-weight: normal;
}
ul,li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline-block;
}
input,textarea {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: solid 1px #999;
  vertical-align: middle;
  font-size: 12px;
  padding: 5px;
}

/*header*/
header {
  position: relative;
  height: 60px;
  width: 980px;
  margin: 0 auto;
}
header .logo {
  position: absolute;
  left: 0;
  background: image-url('logo_dummy.gif');
  height: 64px;
  width: 177px;
}
#menu {
  position: absolute;
  right: 30px;
  margin-top: 30px;
}
#menu a {
  color: #00aac3;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}
#menu li {
  margin-right: 10px;
}

#content {
  margin: 50px auto;
  padding: 20px;
  width: 980px;
}
#footer {
}
.logo {
  margin: 0 auto;
  padding: 0;
  width: 177px;
  height: 64px;
  background: asset-url('logo_dummy.gif') 0 0 no-repeat;
  color: #00aac3;
}
/*               content              */
.pro_text {
  display: inline-block;
  width: 450px;
  margin-left: 60px;
  vertical-align: top;
  margin-top: 20px;
}
.pro_img {
  display: inline-block;
  width: 180px;
  margin-top: 20px;
}
.pro_img img {
  margin: 0 auto;
}

/* signin */
#signin_wrap {
  text-align: center;
}
.btn_signin {
  margin: 50px auto;
  width: 260px;
  height: 52px;
  background-image: asset-url('btn_signin.png');
  &:hover {
    opacity: 0.8;
  }
}
.btn_signin a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-decoration: none;
  line-height: 50px;
}

/* users */
.everyone li {
  display: inline-block;
  margin: 0 5px 10px;
  width: 60px;
  list-style: none;
  text-align: center;
  font-size: 10px;
  line-height: 1.2em;
  vertical-align: top;
}
.section_box {
  display: inline-block;
  margin: 0 10px 20px;
  width: 300px;
  vertical-align: top;
}
 p.section_name {
   margin: 0 auto 10px;
 }


/* profile*/
#profile {
  width: 700px;
  margin: 0 auto;
}
#profile li {
  display: block;
  margin-bottom: 10px;
}
#profile li.name {
  font-weight: bold;
}

/* edit */
#edit {
}
#edit textarea {
  width: 280px;
}

#edit input[type="file"] {
  border: 1px solid #999;
}
#edit li {
 margin-bottom: 20px;
 width: 480px;
}
#edit span.nes {
  color: #00aac3;
  font-size: 14px;
  margin-left: 3px;
}
#edit .btn_edit_submit {
  margin: 20px 0 0 50px;
  position: fixed;
  bottom: 80px;
}
#edit .btn_edit_submit input {
    background: #00aac3;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  color: #FFF;
  padding: 10px;
  &:hover {
    opacity: 0.8;
  }
}
#edit label {
  width: 180px;
  display: inline-block;
  text-align: center;
}
#edit .field_with_errors {
  display: inline-block;
}

/*alert*/
.alert {
  color: #00aac3;
  position: absolute;
  top: 70px;
  right: 50px;
}
