// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 1.5em;
}
a {
  text-decoration: underline;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
}
h2 {
}
h3 {
  font-size: 16px;
  font-weight: normal;
}
ul,li {
  margin: 0;
  padding: 0;
}
#header {
}
#content {
  margin: 50px auto;
  padding: 20px;
  width: 980px;
}
#footer {
}
.logo {
  margin: 0 auto;
  padding: 0;
  width: 177px;
  height: 64px;
  background: image-url('logo_dummy.gif') 0 0 no-repeat;
  color: #00aac3;
}

/*signin*/
#signin_wrap {
  text-align: center;
}
.btn_login {
  margin: 50px auto;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #00aac3;
  & :hover {
    -webkit-border-radius: 12px;
            border-radius: 12px;
    background: #33BBCF;
  }
}
.btn_login a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-decoration: none;
  line-height: 50px;
  & :hover {
    background: #FFF;
  }
}

/*users*/
.everyone li {
  display: inline-block;
  margin-right: 10px;
  width: 60px;
  list-style: none;
}
.section_box {
  display: inline-block;
  margin: 0 10px 20px;
  width: 300px;
  vertical-align: top;
}
 p.section_name {
   margin: 0 auto;
 }